body{
	background: url("../img/cielo.jpg");
	background-attachment: fixed;
}

#logo{
	background: url("../img/cielo.jpg");
}

#menu ul li:hover{
	background: #1F87C4;
	border-radius: 10px;
}

.button-more{
	background: url("../img/cielo.jpg");
}

#menu ul{
	line-height: 46px;
	list-style: none;
	background: url("../img/cielo.jpg");
	border-radius: 10px;
}