body{
	background: url("../img/hojas.jpg");
	background-attachment: fixed;
}

#logo{
	background: url('../img/hojas.jpg');
}

#menu ul li:hover{
	background: #235E3D;
	border-radius: 10px;
}

.button-more{
	background: url('../img/hojas.jpg');
}