body{
	background: url("../img/rojo.jpg");
	background-attachment: fixed;
}

#logo{
	background: url("../img/rojo.jpg");
}

#menu ul li:hover{
	background: #CA3413;
	border-radius: 10px;
}

.button-more{
	background: url("../img/rojo.jpg");
}
#menu ul{
	line-height: 46px;
	list-style: none;
	background: url("../img/rojo.jpg");
	border-radius: 10px;
}